:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
}

main {
  align-items: center;
  justify-content: center;
}

header {
  background-color: #281e5d;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  position: relative;
}

.search-form input {
  position: relative;
  width: 300px;
  border: none;
  height: 25px;
}

.search-form button {
  position: absolute;
  border: none;
  top: 0;
  right: 0;
  height: 25px;
}

.search-form button:hover {
  cursor: pointer;
}

.gallery {
  padding-top: 40px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}

.photo-card {
  display: flex;
  box-shadow: 5px 5px 5px gray;
  border: 1px solid gray;
  width: 270px;
  flex-basis: calc(100% / 4 - 15px);
  margin-left: 15px;
  margin-bottom: 15px;
  flex-direction: column;
  transition: transform var(--animation-duration) var(--timing-function);
}

.photo-card:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

.photo-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.info-item:not(:last-child) {
  margin: 0 5px;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.load-more.is-hidden {
  display: none;
}
